<table>
    <tr>
    <% count=0 %>
    <% @shoes_gallery.each do |shoe|%>
    
    <% if (count % 4) == 0%>
    </tr>
    <tr>
    <% end %>
    <% count+=1 %>
    <td><%= image_tag shoe.shoe_image ,:height=>"100",:width=>"100" %><br />
    <%= shoe.name %><br />
    Color :<%= shoe.color %><br />
    Price : <%= shoe.price %><br />
    <%= button_to 'Buy now',line_items_path(:store_id => shoe.id)%>
     </td>
    <% end %>
    </tr>
    </table>
   