<!DOCTYPE html>
<html>
  <head>
    <title>ShoeStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
   
    <div id="templatemo_menu_wrapper">

      <div id="templatemo_menu">
            
            <ul>
                <li><a href="/gallery/index" class="current">Home</a></li>
                
                <li>
                  <% if session[:admin] %>
                  <a href="/admin/logout"> Admin Logout</a>
                  <% else %>
                  <a href="/admin/login"> Admin Login</a>
                  <% end %></li>
                <li><% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                  <li><%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> </li>
                  <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link"  %></li>
                <% else %>
                  <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> </li>
                 <li> <%= link_to "Login", new_user_session_path, class: "navbar-link"  %> </li>
                <% end %></li>
                 <li><a href="#">About</a></li>
               
            </ul>    	
            
           
        </div> <!-- end of templatemo_menu -->
        
    </div> <!-- end of templatemo_menu_wrapper -->    
    
    <div id="templatemo_header_wrapper">
    
      <div id="templatemo_header">
        
                <div id="site_title">
                
                    <h1><a href="#">
                        <img src="/assets/templatemo_logo.png" alt="Site Title" />
                        
                    </a></h1>
                    
                </div> <!-- end of site_title -->
        
        </div> <!-- end of templatemo_header -->
        
    </div> <!-- end of templatemo_header_wrapper -->
    
    <div id="templatemo_slider_wrapper">
    
      <div id="templatemo_slider">
        
          <div id="latest_product_slider">
        
                <div id="SlideItMoo_outer">	
                    <div id="SlideItMoo_inner">			
                        <div id="SlideItMoo_items">
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_01.png" alt="product 1" /></a>
                               
                            </div>	
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_02.png" alt="product 2" /></a>
                    
                            </div>
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_03.png" alt="product 3" /></a>
                    
                            </div>
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_04.png" alt="product 4" /></a>
                    
                            </div>
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_05.png" alt="product 5" /></a>
                    
                            </div>
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_06.png" alt="product 6" /></a>
                    
                            </div>
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_07.png" alt="product 7" /></a>
                            </div>
                            <div class="SlideItMoo_element">
                                    <a href="#">
                                    <img src="/assets/templatemo_product_08.png" alt="product 8" /></a>
                            </div>
                        </div>			
                    </div>
                </div>
          
            </div> <!-- end of latest_product_slider -->
        
        </div> <!-- end of templatemo_slider -->
    
    </div> <!-- end of templatemo_slider_wrapper -->
    
    <div id="templatemo_content_wrapper">
    
      <div id="templatmeo_sidebar">
          
            
            <div class="sidebar_section">
                <h2>Search Any Item</h2>
               <div class="sidebar_section_content">
                    
                    
                      <%= form_with url: "/gallery/search", method: :get do |form| %>
                      <%= form.label :query, "Search for:" %>
                      <%= form.text_field :keyword %>
                      <%= form.submit "Search" %>
                  <% end %>
                       
                 
                    
                    <div class="cleaner"></div>
                </div>
                 
            </div>
            
          <div class="sidebar_section">
               
                <h2>Categories</h2>
             
               <div class="sidebar_section_content">
                        
                    <ul class="categories_list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Phasellus eget lorem</a></li>
                        <li><a href="#">Sed sit amet sem</a></li>
                        <li><a href="#">Cras eget est vel</a></li>
                        <li><a href="#">Quisque in ligula</a></li>
                        <li><a href="#">Donec a massa dui</a></li>
                        <li><a href="#">Aenean facilisis</a></li>
                        <li><a href="#">Etiam vitae consequat</a></li>
                        <li><a href="#">Aliquam sollicitudin</a></li>
                        <li><a href="#">Nunc fermentum</a></li>
                        <li><a href="#">Quisque in ligula</a></li>
                        <li><a href="#">Donec a massa dui</a></li>
                        <li><a href="#">Aenean facilisis</a></li>
                        <li><a href="#">Etiam vitae consequat</a></li>
                        <li><a href="#">Aliquam sollicitudin</a></li>
                        <li><a href="#">Nunc fermentum</a></li>
                    </ul>
                </div>
                 
            </div>
    
      </div> <!-- end of templatemo_slider -->         
        
        <div id="templatemo_content">
        
          <div class="content_section">
            
              <h2>Welcome to the Shoe Store</h2>
                
                <%= yield %>
                
          </div>
            
            
        
        </div> <!-- end of templatemo_content -->
    
      <div class="cleaner"></div>
        
    </div> <!-- end of templatemo_content_wrapper -->
    <div id="templatemo_content_wrapper_bottom"></div>
    
    <div id="templatemo_footer">
    
      <ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Gallery</a></li>
            <li class="last_menu"><a href="#">Contact</a></li>
        </ul>
    
        Copyright © 2024 <a href="#">shoe_store</a> <!-- Credit: www.templatemo.com -->| 
        
    
    </div> <!-- end of footer -->
    <!-- templatemo 215 shoe store -->
    <!-- 
    Shoe Store Template 
    http://www.templatemo.com/preview/templatemo_215_shoe_store 
    -->
    
  </body>
</html>
